n8n/workflow-chat-agent.json
{
  "name": "LUE FZ - Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b9126634-c871-444a-90e7-38909895e06b",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eeca6a60-c499-497f-9bb0-4d779879c7bd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -1344
      ],
      "webhookId": "b9126634-c871-444a-90e7-38909895e06b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "697c92ad-3e76-4c71-8771-af1f858079a2",
              "name": "sessionId",
              "value": "={{ $json.body.id_conversa }}",
              "type": "string"
            },
            {
              "id": "310c5f70-fcce-448b-b0a2-ff2733223e39",
              "name": "chatInput",
              "value": "={{ $json.body.mensagem }}",
              "type": "string"
            },
            {
              "id": "a8e4f3b1-1234-4567-8901-abcdef012345",
              "name": "store_id",
              "value": "={{ $json.body.id_loja }}",
              "type": "string"
            },
            {
              "id": "b9f5a4c2-2345-5678-9012-bcdef0123456",
              "name": "id_mensagem",
              "value": "={{ $json.body.id_mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f24d2c16-5bf4-4789-93bd-58da4e02689d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -1344
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "store_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Edit Fields').item.json.store_id }}"
            }
          ]
        }
      },
      "id": "4d6755a9-2802-4910-9012-6b4304fbf9cc",
      "name": "Informaçoes da loja1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        -1344
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(string_agg(DISTINCT p.name, ', '), '') AS shown_list FROM product_mentions pm JOIN products p ON p.id = pm.product_id WHERE pm.conversation_id = '{{ $('Edit Fields').item.json.sessionId }}' AND pm.source = 'ai_shown'",
        "options": {}
      },
      "id": "s1a2b3c4-d5e6-4789-0987-654321fedcba",
      "name": "Get Shown Products",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        576,
        -1344
      ],
      "credentials": {
        "postgres": {
          "id": "5LgfkDaHLkpMWYfd",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Buffer Check').item.json.chatInput }}",
        "options": {
          "systemMessage": "=# Você\nAssistente da loja {{ $('Informaçoes da loja1').item.json.store_name }}. Trata o cliente por \"você\". Descobre a intenção antes de oferecer produto.\n\n# A loja\nCategorias: {{ $('Informaçoes da loja1').item.json.categories }}\nPagamento: {{ $('Informaçoes da loja1').item.json.payment_methods }}\nEntrega: {{ $('Informaçoes da loja1').item.json.delivery_methods }}\nInstruções: {{ $('Informaçoes da loja1').item.json.service_instructions }}\nContato do vendedor: {{ $('Informaçoes da loja1').item.json.seller_phone }}\nInstagram da loja: @{{ $('Informaçoes da loja1').item.json.instagram_handle }}\n\n# Como você fala\nTexto corrido, jeito conversa. ZERO markdown na resposta: nunca use **, #, - ou lista numerada.\n\nVaria aberturas — nunca repete a mesma frase de saudação entre mensagens. Após \"não\" claro do cliente, acolhe sem reformular oferta.\n\nFala sobre os produtos e sobre o cliente — nunca sobre o que você está fazendo internamente (procurar, filtrar, mudar categoria, etc).\nExemplo ruim: \"Não vieram opções diferentes, posso mudar de categoria ou mostrar outro estilo\"\nExemplo bom: \"Os tops que eu tenho são só esses dois. Mas tenho uns croppeds que combinam — olha:\"\n\n# Buscar produtos (tool BUSCAR_PRODUTOS)\nUse sempre que o cliente perguntar disponibilidade, preço, tamanho, cor, comparação. Aceita linguagem natural (\"blusa azul P\"). NUNCA invente produto, preço, tamanho, cor ou estoque.\n\nParâmetros:\n- Consulta: o pedido em linguagem natural\n- `category`: a categoria EXATA da lista da loja acima (pedido vago → string vazia)\n\nQuando a tool não traz nada novo (todos resultados já estão em \"Já mostrado\", ou veio vazio):\n1. Escolha entre as Categorias da loja a mais próxima do pedido original.\n2. Chame BUSCAR_PRODUTOS lá, sem avisar o cliente.\n3. Mostre o resultado com transição natural (\"Dessa pegada tô só com esses. Mas tenho croppeds que combinam — olha:\").\n4. Se essa segunda categoria também esgotar, fala honesto: \"Pra essa pegada hoje tô limitado. Quer ver [outra categoria]?\"\n\nNUNCA pergunte permissão (\"quer que eu procure?\"). Decida e aja.\n\n# Já mostrado nesta conversa\n{{ $('Get Shown Products').item.json.shown_list || '(nenhum)' }}\n\nNão repita esses produtos. Exceção: se o cliente pedir explicitamente um deles pelo nome.\n\n# Mostrar produto\nMáximo 3 produtos por mensagem. Antes, uma frase curta natural (\"achei isso\", \"olha esses dois\"). Cada produto em bloco de linhas separadas:\n\nNome do produto\nR$ XX\nTamanhos: P, M, G\nCores: rosa, branco\nhttps://link\n\nOmita campo vazio.\n\n# Lead\nQuando o cliente demonstrar intenção de compra/reserva (\"quero comprar\", \"vou levar\", \"reserva pra mim\", \"como faço pra fechar\"), peça os três dados de uma vez, em uma frase corrida natural.\n\nExemplo: \"Show, vou anotar. Pra te conectar com a gente, manda seu nome, WhatsApp e email?\"\n\nQuando o cliente compartilhar nome E WhatsApp (mesmo que falte o email), na mesma mensagem em que confirmar os dados avise que um vendedor vai entrar em contato e ofereça os contatos da loja como alternativa para ele falar direto.\n\nExemplo: \"Anotei, {nome}. Um vendedor vai entrar em contato em breve. Se preferir falar direto, é WhatsApp {seller_phone} ou Instagram @{instagram_handle}.\"\n\nNÃO peça os dados antes da intenção de compra. NÃO peça um por vez. NÃO repita os contatos da loja em todas as mensagens — só na que o cliente acabou de compartilhar nome e número."
        }
      },
      "id": "04021648-9c43-4257-80c8-51f2378ac4a8",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        -1344
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4096
        }
      },
      "id": "c3e04e64-187a-4f63-b55e-7a3e7016ef1a",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        -1104
      ],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionId }}"
      },
      "id": "d3cba747-9508-4a56-99e6-1db5be7b226a",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        752,
        -1104
      ],
      "credentials": {
        "postgres": {
          "id": "5LgfkDaHLkpMWYfd",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca semântica no catálogo de produtos da loja. Use sempre que o cliente perguntar sobre produtos.\n\nNa consulta de busca, descreva o que o cliente quer em linguagem natural — cor, ocasião, estilo, marca, características. Ex: \"floral\", \"pra casamento\", \"cintura alta tamanho M\", \"festa\".\n\nO parâmetro `category` é a categoria EXATA da loja que melhor descreve o pedido. Use uma das categorias listadas no system prompt em \"Categorias da loja\", copiando o texto exato (singular/plural como aparece). Se o pedido é vago e não bate com nenhuma categoria, passe string vazia.\n\nExemplos do que perguntar e qual category usar:\n- Cliente: \"quero um top floral\" → consulta=\"floral\", category=\"top\"\n- Cliente: \"vestido pra casamento\" → consulta=\"casamento\", category=\"vestido\"\n- Cliente: \"alguma calça cintura alta\" → consulta=\"cintura alta\", category=\"calça\"\n- Cliente: \"o que vocês têm pra festa?\" → consulta=\"festa\", category=\"\"\n\nRetorna até 12 produtos JÁ FILTRADOS pela categoria no banco. Cada resultado traz no metadata: name, price, category, cores, tamanhos, brand, image_url. Se não retornar nada, peça mais detalhes ao cliente.",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "topK": 12,
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Informaçoes da loja1').item.json.id }}"
              },
              {
                "name": "category",
                "value": "={{ $fromAI('category', 'Categoria exata da loja que melhor descreve o pedido do cliente. Copie do system prompt em Categorias da loja. String vazia se não souber.', 'string') }}"
              }
            ]
          }
        }
      },
      "id": "d95a19eb-26a4-4eff-b9e3-2b16c94fa863",
      "name": "BUSCAR_PRODUTOS",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        976,
        -1168
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "308840bc-b20c-42f3-abad-25c3e738f031",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        -944
      ],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "144c2506-459d-4c3c-be7f-0b076139654b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        -1344
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Buffer Check').item.json.chatInput }}",
        "options": {
          "systemMessage": "Você é um extrator de informações pessoais. Analise a mensagem do cliente e identifique se ele compartilhou algum destes dados:\n\n- nome (próprio do cliente, ex: \"meu nome é João\", \"sou a Maria\")\n- telefone (WhatsApp ou fixo — qualquer número com >= 10 dígitos)\n- email\n- cep (formato 00000-000 ou 00000000)\n\nRetorne APENAS um JSON puro, sem markdown e sem texto adicional, no formato:\n{\"nome\": \"João\" ou null, \"telefone\": \"5511999999999\" ou null, \"email\": \"x@y.com\" ou null, \"cep\": \"01310-100\" ou null}\n\nSe nada foi compartilhado, retorne:\n{\"nome\": null, \"telefone\": null, \"email\": null, \"cep\": null}\n\nNormalize:\n- telefone: somente dígitos, com código do país (Brasil = 55).\n- cep: formato 00000-000.\n- nome: capitalizado (\"João\", não \"joão\")."
        }
      },
      "id": "e1f2a3b4-c5d6-4789-90ab-cdef12345678",
      "name": "Lead Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        -1600
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "f2e3d4c5-b6a7-4890-9012-3456789abcde",
      "name": "OpenAI Chat Model - Lead",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        -1820
      ],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output ?? '';\nlet parsed = { nome: null, telefone: null, email: null, cep: null };\ntry {\n  const cleaned = String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim();\n  const obj = JSON.parse(cleaned);\n  parsed = {\n    nome: obj?.nome || null,\n    telefone: obj?.telefone || null,\n    email: obj?.email || null,\n    cep: obj?.cep || null,\n  };\n} catch (e) {}\nconst hasData = !!(parsed.nome || parsed.telefone || parsed.email || parsed.cep);\nreturn [{ json: {\n  ...parsed,\n  hasData,\n  conversation_id: $('Edit Fields').item.json.sessionId,\n  store_id: $('Edit Fields').item.json.store_id,\n} }];"
      },
      "id": "a3b4c5d6-e7f8-4901-2345-6789abcdef01",
      "name": "Parse Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lead-c1",
              "leftValue": "={{ $json.hasData }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-4012-3456-789abcdef012",
      "name": "IF Has Lead Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        -1600
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Lead').item.json.conversation_id }}"
            },
            {
              "keyName": "store_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Lead').item.json.store_id }}"
            }
          ]
        }
      },
      "id": "d6e7f8a9-b0c1-4234-5678-9abcdef01234",
      "name": "Get Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -1600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lead-exists-c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7f8a9b0-c1d2-4345-6789-abcdef012345",
      "name": "IF Lead Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        -1600
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Parse Lead').item.json.nome || $json.name }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('Parse Lead').item.json.telefone || $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Parse Lead').item.json.email || $json.email }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Parse Lead').item.json.cep || $json.cep }}"
            },
            {
              "fieldId": "last_seen_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "f8a9b0c1-d2e3-4456-789a-bcdef0123456",
      "name": "Update Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -1712
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Parse Lead').item.json.conversation_id }}"
            },
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $('Parse Lead').item.json.store_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Parse Lead').item.json.nome }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('Parse Lead').item.json.telefone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Parse Lead').item.json.email }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Parse Lead').item.json.cep }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "chat"
            }
          ]
        }
      },
      "id": "c5d6e7f8-a9b0-4123-4567-89abcdef0123",
      "name": "Create Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -1488
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT string_agg(role || ': ' || content, E'\n') AS messages_text FROM (SELECT role, content, created_at FROM messages WHERE conversation_id = '{{ $('Parse Lead').item.json.conversation_id }}' ORDER BY created_at DESC LIMIT 10) sub",
        "options": {}
      },
      "id": "i1a2b3c4-d5e6-4789-0123-456789abcdef",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2096,
        -1600
      ],
      "credentials": {
        "postgres": {
          "id": "5LgfkDaHLkpMWYfd",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagens recentes (mais recente primeiro):\n{{ $json.messages_text }}",
        "options": {
          "systemMessage": "Você sintetiza o interesse do cliente para o vendedor humano que vai assumir. Em 1-2 frases (até ~200 caracteres), descreva: categoria/tipo de produto procurado, atributos mencionados (cor, tamanho, ocasião, estilo, faixa de preço). Não invente nada. Se a conversa não revelou interesse claro, devolva exatamente null. Sem markdown, sem aspas, sem prefixar com 'O cliente...' — vá direto ao ponto."
        }
      },
      "id": "i2b3c4d5-e6f7-4890-1234-56789abcdef0",
      "name": "Interest Summarizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2320,
        -1600
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "i3c4d5e6-f7a8-4901-2345-6789abcdef01",
      "name": "OpenAI Chat Model - Interest",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2320,
        -1820
      ],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($input.first().json.output ?? '').trim();\nconst cleaned = raw.replace(/^```(?:json)?\\s*|\\s*```$/g, '').trim();\nconst summary = (!cleaned || cleaned.toLowerCase() === 'null') ? null : cleaned;\nreturn [{ json: {\n  interest_summary: summary,\n  conversation_id: $('Parse Lead').item.json.conversation_id,\n  store_id: $('Parse Lead').item.json.store_id,\n  has_summary: !!summary,\n} }];"
      },
      "id": "i4d5e6f7-a8b9-4012-3456-789abcdef012",
      "name": "Parse Interest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        -1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "interest-c1",
              "leftValue": "={{ $json.has_summary }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "i6f7a8b9-c0d1-4234-5678-9abcdef01234",
      "name": "IF Has Interest",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        -1600
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $json.conversation_id }}"
            },
            {
              "keyName": "store_id",
              "condition": "eq",
              "keyValue": "={{ $json.store_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "interest_summary",
              "fieldValue": "={{ $json.interest_summary }}"
            }
          ]
        }
      },
      "id": "i5e6f7a8-b9c0-4123-4567-89abcdef0123",
      "name": "Update Lead Interest",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        -1600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do cliente: {{ $('Buffer Check').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Você analisa a mensagem do cliente e detecta perguntas que a loja não consegue responder com as instruções abaixo.\n\nInstruções da loja:\n- Categorias: {{ $('Informaçoes da loja1').item.json.categories }}\n- Pagamento: {{ $('Informaçoes da loja1').item.json.payment_methods }}\n- Entrega: {{ $('Informaçoes da loja1').item.json.delivery_methods }}\n- Outras: {{ $('Informaçoes da loja1').item.json.service_instructions }}\n\nRetorne APENAS JSON puro, sem markdown, no formato:\n{\"is_gap\": true|false, \"question\": \"pergunta normalizada em minúsculas\", \"tag\": \"POLÍTICA DE ENTREGA\"|\"PRAZO\"|\"ATACADO\"|\"SKU INEXISTENTE\"|\"PAGAMENTO\"|\"OUTROS\"}\n\nMarque is_gap=true APENAS se:\n- A mensagem contém pergunta concreta (com '?' ou claramente interrogativa).\n- A resposta NÃO está nas instruções acima.\n- A pergunta NÃO é sobre um produto específico do catálogo (isso é trabalho do vendedor).\n\nMarque is_gap=false se: saudação, comentário, declaração de interesse, pergunta sobre produto/cor/tamanho específico, ou pergunta já coberta pelas instruções acima.\n\nSe is_gap=false, devolva question=\"\" e tag=\"OUTROS\"."
        }
      },
      "id": "g1a2b3c4-d5e6-4789-abcd-ef0123456789",
      "name": "Gap Detector",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [752, -880]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "g2b3c4d5-e6f7-4890-bcde-f01234567890",
      "name": "OpenAI Chat Model - Gap",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [752, -660],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($input.first().json.output ?? '');\nlet parsed = { is_gap: false, question: '', tag: 'OUTROS' };\ntry {\n  const cleaned = raw.replace(/^```(?:json)?\\s*|\\s*```$/g, '').trim();\n  const obj = JSON.parse(cleaned);\n  parsed = {\n    is_gap: !!obj?.is_gap,\n    question: String(obj?.question ?? '').toLowerCase().trim(),\n    tag: String(obj?.tag ?? 'OUTROS').toUpperCase().trim(),\n  };\n} catch (e) {}\nconst valid = parsed.is_gap && parsed.question.length > 0;\nreturn [{ json: {\n  is_gap: valid,\n  question: parsed.question,\n  tag: parsed.tag,\n  conversation_id: $('Edit Fields').item.json.sessionId,\n  store_id: $('Edit Fields').item.json.store_id,\n} }];"
      },
      "id": "g3c4d5e6-f7a8-4901-cdef-012345678901",
      "name": "Parse Gap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [976, -880]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "gap-c1",
              "leftValue": "={{ $json.is_gap }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g4d5e6f7-a8b9-4012-def0-123456789012",
      "name": "IF Has Gap",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, -880]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "knowledge_gaps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json.store_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "question",
              "fieldValue": "={{ $json.question }}"
            },
            {
              "fieldId": "tag",
              "fieldValue": "={{ $json.tag }}"
            }
          ]
        }
      },
      "id": "g5e6f7a8-b9c0-4123-ef01-234567890123",
      "name": "Insert Gap",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1424, -880],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.store_id }}"
            }
          ]
        }
      },
      "id": "m1a2b3c4-d5e6-4789-fedc-ba9876543210",
      "name": "Get Catalog",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1136, -1180],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json).filter(p => p && p.id && p.name);\nconst aiOutput = String($('AI Agent2').item.json.output ?? '');\nconst customerMsg = String($('Buffer Check').item.json.chatInput ?? '');\nconst conversation_id = $('Edit Fields').item.json.sessionId;\nconst store_id = $('Edit Fields').item.json.store_id;\n\n// Ordena por tamanho do nome desc para que matches mais específicos ganhem.\nconst products = items.slice().sort((a, b) => b.name.length - a.name.length);\n\nfunction escapeReg(s) { return s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'); }\n\nfunction findMatches(text, source) {\n  // Substitui faixas já consumidas por espaços para evitar dupla contagem em sobreposição.\n  let buffer = text;\n  const results = [];\n  for (const p of products) {\n    const re = new RegExp(`\\\\b${escapeReg(p.name)}\\\\b`, 'i');\n    if (re.test(buffer)) {\n      results.push({ product_id: p.id, source, store_id, conversation_id });\n      buffer = buffer.replace(new RegExp(`\\\\b${escapeReg(p.name)}\\\\b`, 'gi'), (m) => ' '.repeat(m.length));\n    }\n  }\n  return results;\n}\n\nconst rows = [\n  ...findMatches(aiOutput, 'ai_shown'),\n  ...findMatches(customerMsg, 'customer_asked'),\n];\n\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "m2b3c4d5-e6f7-4890-edcb-a98765432109",
      "name": "Match Mentions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, -1180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "mention-valid-c1",
              "leftValue": "={{ $json.product_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "mention-valid-c2",
              "leftValue": "={{ $json.store_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "m4d5e6f7-a8b9-4012-cba9-876543210987",
      "name": "Has Valid Mention",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1472, -1180]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "product_mentions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json.store_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $json.product_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            }
          ]
        }
      },
      "id": "m3c4d5e6-f7a8-4901-dcba-987654321098",
      "name": "Insert Mentions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1696, -1180],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "b1a2c3d4-e5f6-4789-0123-abcdef111111",
      "name": "Wait Buffer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [160, -1344],
      "webhookId": "3f2f3ccc-a4fe-4d64-90f4-bde11b9b1111"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, content, created_at FROM messages WHERE conversation_id = '{{ $('Edit Fields').item.json.sessionId }}' AND role = 'user' AND created_at >= now() - interval '8 seconds' ORDER BY created_at ASC",
        "options": {}
      },
      "id": "b2a3c4d5-e6f7-4890-1234-bcdef0222222",
      "name": "Get User Messages in Window",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [288, -1344],
      "credentials": {
        "postgres": {
          "id": "5LgfkDaHLkpMWYfd",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json).filter(m => m && m.id);\nconst myMessageId = $('Edit Fields').item.json.id_mensagem;\nconst originalInput = $('Edit Fields').item.json.chatInput;\n\nif (items.length === 0) {\n  return [{ json: { should_process: true, chatInput: originalInput } }];\n}\n\nconst latest = items[items.length - 1];\nif (latest.id !== myMessageId) {\n  return [{ json: { should_process: false } }];\n}\n\nconst joined = items.map(m => m.content).join('\\n');\nreturn [{ json: { should_process: true, chatInput: joined } }];"
      },
      "id": "b3a4c5d6-e7f8-4901-2345-cdef01333333",
      "name": "Buffer Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, -1344]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "buffer-should-process",
              "leftValue": "={{ $json.should_process }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4a5c6d7-e8f9-4012-3456-def012444444",
      "name": "IF Should Process",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [544, -1344]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do agente para dividir:\n{{ $('AI Agent2').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Divida a mensagem do agente em uma lista JSON no formato {\"messages\": [\"...\", \"...\"]}. Cada parte deve ter entre 100 e 500 caracteres, quebrada em pontos naturais de conversa (fim de frase ou parágrafo). NUNCA corte palavras. NUNCA produza partes vazias. NÃO invente, NÃO resuma, NÃO traduza, NÃO adicione ou tire formatação. Se a mensagem original já é curta (menos de 200 chars), retorne {\"messages\": [<a mensagem original inteira como uma única parte>]}."
            }
          ]
        },
        "batching": {}
      },
      "id": "sp1a2b3c-4d5e-4f67-8901-splitter11111",
      "name": "Basic LLM Chain Splitter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [976, -1344],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "options": {}
      },
      "id": "sp2b3c4d-5e6f-4789-9012-splitter22222",
      "name": "OpenAI Chat Model - Splitter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [976, -1180],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"messages\": [\n    \"primeira parte da mensagem dividida pelo splitter\",\n    \"segunda parte com conteúdo adicional\",\n    \"terceira parte se necessário\"\n  ]\n}",
        "autoFix": true
      },
      "id": "sp3c4d5e-6f7a-4890-0123-splitter33333",
      "name": "Splitter Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1136, -1180]
    },
    {
      "parameters": {
        "jsCode": "const splitter = $('Basic LLM Chain Splitter').item.json;\nconst messages = (splitter.output && splitter.output.messages) || splitter.messages || [];\nconst conversation_id = $('Edit Fields').item.json.sessionId;\nconst store_id = $('Edit Fields').item.json.store_id;\nreturn messages\n  .filter(m => typeof m === 'string' && m.trim().length > 0)\n  .map(m => ({ json: { content: m.trim(), conversation_id, store_id } }));"
      },
      "id": "sp4d5e6f-7a8b-4901-1234-splitter44444",
      "name": "Expand Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -1344]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "sp5e6f7a-8b9c-4012-2345-splitter55555",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1408, -1344]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.content || '';\nconst waitSeconds = Math.min(Math.max(content.length * 0.03, 0.8), 8.0);\nreturn [{ json: { ...$json, waitSeconds } }];"
      },
      "id": "sp6f7a8b-9c0d-4123-3456-splitter66666",
      "name": "Calculate Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1632, -1248]
    },
    {
      "parameters": {
        "amount": "={{ $json.waitSeconds }}"
      },
      "id": "sp7a8b9c-0d1e-4234-4567-splitter77777",
      "name": "Wait Typing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1856, -1248],
      "webhookId": "9d9bd32c-84d8-43a0-94e0-c4bd06000001"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json.store_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            }
          ]
        }
      },
      "id": "sp8b9c0d-1e2f-4345-5678-splitter88888",
      "name": "Insert Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2080, -1248],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Buffer": {
      "main": [
        [
          {
            "node": "Get User Messages in Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Messages in Window": {
      "main": [
        [
          {
            "node": "Buffer Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Check": {
      "main": [
        [
          {
            "node": "IF Should Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Process": {
      "main": [
        [
          {
            "node": "Informaçoes da loja1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informaçoes da loja1": {
      "main": [
        [
          {
            "node": "Get Shown Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lead Analyzer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gap Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shown Products": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Analyzer": {
      "main": [
        [
          {
            "node": "Parse Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead": {
      "main": [
        [
          {
            "node": "IF Has Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Lead Data": {
      "main": [
        [
          {
            "node": "Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead": {
      "main": [
        [
          {
            "node": "IF Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead Exists": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Lead": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain Splitter": {
      "main": [
        [
          {
            "node": "Expand Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Calculate Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Wait": {
      "main": [
        [
          {
            "node": "Wait Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Typing": {
      "main": [
        [
          {
            "node": "Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Splitter": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain Splitter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Splitter Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain Splitter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Catalog": {
      "main": [
        [
          {
            "node": "Match Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Mentions": {
      "main": [
        [
          {
            "node": "Has Valid Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Mention": {
      "main": [
        [
          {
            "node": "Insert Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR_PRODUTOS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "BUSCAR_PRODUTOS",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Interest Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Interest": {
      "ai_languageModel": [
        [
          {
            "node": "Interest Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interest Summarizer": {
      "main": [
        [
          {
            "node": "Parse Interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Interest": {
      "main": [
        [
          {
            "node": "IF Has Interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Interest": {
      "main": [
        [
          {
            "node": "Update Lead Interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Gap": {
      "ai_languageModel": [
        [
          {
            "node": "Gap Detector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gap Detector": {
      "main": [
        [
          {
            "node": "Parse Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gap": {
      "main": [
        [
          {
            "node": "IF Has Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Gap": {
      "main": [
        [
          {
            "node": "Insert Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "nutramim-n8n.ev7c2h.easypanel.host",
          "user-agent": "node",
          "content-length": "218",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "177.6.239.152",
          "x-forwarded-host": "nutramim-n8n.ev7c2h.easypanel.host",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "a272c80437d7",
          "x-real-ip": "177.6.239.152"
        },
        "params": {},
        "query": {},
        "body": {
          "mensagem": "oi",
          "id_mensagem": "2689acbf-4fcb-42e6-97b2-fb1e1bd67c8d",
          "id_conversa": "92ee6d49-7dad-47f1-99ad-5f2ff13fc818",
          "nome_loja": "Teste",
          "id_loja": "c96ad899-bdaf-4ed4-919d-6f596e0f7db8",
          "tipo_de_mensagem": "text"
        },
        "webhookUrl": "https://nutramim-n8n.ev7c2h.easypanel.host/webhook/b9126634-c871-444a-90e7-38909895e06b",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8df8f0cc9e0dd2c7cb8defe1329622a749d50753d5b3ebadada383d6be670f87"
  }
}