n8n/workflow-chat-agent.json
{
  "name": "LUE FZ - Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b9126634-c871-444a-90e7-38909895e06b",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eeca6a60-c499-497f-9bb0-4d779879c7bd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-288, -1344],
      "webhookId": "b9126634-c871-444a-90e7-38909895e06b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "697c92ad-3e76-4c71-8771-af1f858079a2",
              "name": "sessionId",
              "value": "={{ $json.body.id_conversa }}",
              "type": "string"
            },
            {
              "id": "310c5f70-fcce-448b-b0a2-ff2733223e39",
              "name": "chatInput",
              "value": "={{ $json.body.mensagem }}",
              "type": "string"
            },
            {
              "id": "a8e4f3b1-1234-4567-8901-abcdef012345",
              "name": "store_id",
              "value": "={{ $json.body.id_loja }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f24d2c16-5bf4-4789-93bd-58da4e02689d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [32, -1344]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "store_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Edit Fields').item.json.store_id }}"
            }
          ]
        }
      },
      "id": "4d6755a9-2802-4910-9012-6b4304fbf9cc",
      "name": "Informaçoes da loja1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [432, -1344],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.chatInput }}",
        "options": {
          "systemMessage": "=# Quem você é\nVendedor virtual da {{ $('Informaçoes da loja1').item.json.store_name }}.\nAtende como consultor amigo — não como vendedor de loja. Curioso, direto, simpático sem ser bajulador.\nDescobre a intenção antes de oferecer.\n\n# Como você fala\n- Varie aberturas. Nunca comece duas mensagens iguais. Evite começar mensagens de produto com \"Aqui estão...\".\n- Antes de listar produto, uma micro-validação curta: \"boa pedida\", \"entendi\", \"deixa eu te mostrar\", \"achei isso aqui\".\n- Espelhe a energia: mensagem curta do cliente → resposta curta. Mensagem detalhada → você devolve detalhe.\n- Uma pergunta por vez. Nunca peça cor + tamanho + ocasião juntos.\n- Após um \"não\" claro: acolha e proponha algo diferente sem insistir (\"Sem problemas. Quer ver outra coisa ou prefere continuar olhando?\").\n- Emoji: no máximo 1 por mensagem. Nunca em mensagem que é só preço/tamanho/cor.\n\n# Contexto da loja\n- Categorias: {{ $('Informaçoes da loja1').item.json.categories }}\n- Pagamento: {{ $('Informaçoes da loja1').item.json.payment_methods }}\n- Entrega: {{ $('Informaçoes da loja1').item.json.delivery_methods }}\n- Instruções da loja: {{ $('Informaçoes da loja1').item.json.service_instructions }}\n\n# Tool disponível\nBUSCAR_PRODUTOS — busca semântica no catálogo. Use quando a conversa envolver disponibilidade, preço, tamanho, cor, recomendação ou comparação. A tool aceita linguagem natural (\"blusa azul P\", \"vestido floral\"). Nunca invente produto, preço, tamanho, cor ou estoque: use só o que vier da tool.\n\n# Chamando a BUSCAR_PRODUTOS\nSempre passe DOIS parâmetros:\n- `query`: termo livre (cor, ocasião, estilo, marca, atributo).\n- `category`: a categoria EXATA da loja que casa com o pedido — copie do bloco \"Categorias\" acima. Se o pedido é vago, passe `category=\"\"`.\n\nA tool JÁ FILTRA pela categoria no banco. Ainda assim faça duas checagens em cada resultado:\n1. O `name` tem \"conjunto\", \"kit\", \"combo\", \"set\", \"dupla\"? Se sim e o cliente pediu solo, descarte.\n2. Se nada sobrar, NÃO invente — diga que não achou esse tipo e pergunte detalhes.\n\n# Regra anti-repetição (CRÍTICO)\nAntes de chamar BUSCAR_PRODUTOS, OLHE O HISTÓRICO DA CONVERSA e liste mentalmente todos os produtos que VOCÊ JÁ MOSTROU (por `name`). Você NUNCA repete um produto já mostrado na mesma conversa.\n\nQuando o cliente pede \"mais\", \"outros\", \"diferentes\", \"outra coisa\" da mesma categoria:\n- Acrescente um ATRIBUTO DIFERENTE no `query` (mude foco: se mostrou \"floral\", agora busca \"liso\"/\"estampado\"; se mostrou \"preto\", busca outra cor; se mostrou \"cintura alta\", busca \"cintura baixa\"). Isso muda o embedding e a ordenação.\n- Ao receber os resultados, descarte TODOS os nomes que já apareceram na conversa.\n- Se sobrar 1-3 itens novos, mostre todos. Se sobrarem zero: chame a tool de novo com query ainda mais distinta (outro atributo). Se ainda assim zero, diga \"não achei mais opções nessa linha, quer mudar o estilo?\" e pergunte um atributo diferente.\n\n# Apresentação de produtos\n- Antes da lista, uma frase curta de transição (variar).\n- Máximo 3 produtos por mensagem.\n- Por produto: nome, preço (R$), tamanhos, cores, link da imagem. Omita campos vazios.\n- Se cores ou tamanhos tiverem mais de 6 itens, mostre 5 e diga \"e mais\".\n\n# Coleta de dados (outro sistema observa e registra)\nVocê só pede naturalmente, um dado por vez:\n- Nome quando a conversa engatar.\n- WhatsApp quando o cliente demonstrar interesse real (comprar, reservar).\n- Email quando fizer sentido (catálogo, lista de espera).\nNão peça tudo junto. Não insista em dado recusado.\n\n# Don'ts\n- Não invente nada (produto, preço, prazo, desconto).\n- Não use mais de 1 emoji por mensagem.\n- Não repita produto já mostrado na conversa.\n- Não mostre produto que não bate com o pedido só porque a tool retornou.\n- Não exponha falha de busca — se nada bater, redirecione com pergunta.\n- Não force venda depois de \"não\" claro."
        }
      },
      "id": "04021648-9c43-4257-80c8-51f2378ac4a8",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [752, -1344]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4096
        }
      },
      "id": "c3e04e64-187a-4f63-b55e-7a3e7016ef1a",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [576, -1104],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionId }}"
      },
      "id": "d3cba747-9508-4a56-99e6-1db5be7b226a",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [752, -1104],
      "credentials": {
        "postgres": {
          "id": "5LgfkDaHLkpMWYfd",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca semântica no catálogo de produtos da loja. Use sempre que o cliente perguntar sobre produtos.\n\nParâmetros:\n- query (string): termo em linguagem natural — cor, ocasião, estilo, marca, características. Ex: \"floral\", \"pra casamento\", \"cintura alta tamanho M\".\n- category (string): a categoria EXATA da loja que melhor descreve o pedido. Use uma das categorias listadas no system prompt em \"Categorias da loja\", copiando o texto exato (singular/plural como aparece). Se o pedido é vago e não bate com nenhuma categoria, passe string vazia.\n\nExemplos:\n- Cliente: \"quero um top floral\" → query=\"floral\", category=\"top\"\n- Cliente: \"vestido pra casamento\" → query=\"casamento\", category=\"vestido\"\n- Cliente: \"alguma calça cintura alta\" → query=\"cintura alta\", category=\"calça\"\n- Cliente: \"o que vocês têm pra festa?\" → query=\"festa\", category=\"\"\n\nRetorna até 5 produtos JÁ FILTRADOS pela categoria no banco. Cada resultado traz no metadata: name, price, category, cores, tamanhos, brand, image_url. Se não retornar nada, peça mais detalhes ao cliente.",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "topK": 12,
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Informaçoes da loja1').item.json.id }}"
              },
              {
                "name": "category",
                "value": "={{ $fromAI('category', 'Categoria exata da loja que melhor descreve o pedido do cliente. Copie do system prompt em Categorias da loja. String vazia se não souber.', 'string') }}"
              }
            ]
          }
        }
      },
      "id": "d95a19eb-26a4-4eff-b9e3-2b16c94fa863",
      "name": "BUSCAR_PRODUTOS",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [976, -1168],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "308840bc-b20c-42f3-abad-25c3e738f031",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1056, -944],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $('AI Agent2').item.json.output }) }}",
        "options": {}
      },
      "id": "144c2506-459d-4c3c-be7f-0b076139654b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1136, -1344]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.chatInput }}",
        "options": {
          "systemMessage": "Você é um extrator de informações pessoais. Analise a mensagem do cliente e identifique se ele compartilhou algum destes dados:\n\n- nome (próprio do cliente, ex: \"meu nome é João\", \"sou a Maria\")\n- telefone (WhatsApp ou fixo — qualquer número com >= 10 dígitos)\n- email\n- cep (formato 00000-000 ou 00000000)\n\nRetorne APENAS um JSON puro, sem markdown e sem texto adicional, no formato:\n{\"nome\": \"João\" ou null, \"telefone\": \"5511999999999\" ou null, \"email\": \"x@y.com\" ou null, \"cep\": \"01310-100\" ou null}\n\nSe nada foi compartilhado, retorne:\n{\"nome\": null, \"telefone\": null, \"email\": null, \"cep\": null}\n\nNormalize:\n- telefone: somente dígitos, com código do país (Brasil = 55).\n- cep: formato 00000-000.\n- nome: capitalizado (\"João\", não \"joão\")."
        }
      },
      "id": "e1f2a3b4-c5d6-4789-90ab-cdef12345678",
      "name": "Lead Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [752, -1600]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "f2e3d4c5-b6a7-4890-9012-3456789abcde",
      "name": "OpenAI Chat Model - Lead",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [752, -1820],
      "credentials": {
        "openAiApi": {
          "id": "9P4hWIaS93nW5FhK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output ?? '';\nlet parsed = { nome: null, telefone: null, email: null, cep: null };\ntry {\n  const cleaned = String(raw).replace(/^```json\\s*|\\s*```$/g, '').trim();\n  const obj = JSON.parse(cleaned);\n  parsed = {\n    nome: obj?.nome || null,\n    telefone: obj?.telefone || null,\n    email: obj?.email || null,\n    cep: obj?.cep || null,\n  };\n} catch (e) {}\nconst hasData = !!(parsed.nome || parsed.telefone || parsed.email || parsed.cep);\nreturn [{ json: {\n  ...parsed,\n  hasData,\n  conversation_id: $('Edit Fields').item.json.sessionId,\n  store_id: $('Edit Fields').item.json.store_id,\n} }];"
      },
      "id": "a3b4c5d6-e7f8-4901-2345-6789abcdef01",
      "name": "Parse Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [976, -1600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lead-c1",
              "leftValue": "={{ $json.hasData }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-4012-3456-789abcdef012",
      "name": "IF Has Lead Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, -1600]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Lead').item.json.conversation_id }}"
            },
            {
              "keyName": "store_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Lead').item.json.store_id }}"
            }
          ]
        }
      },
      "id": "d6e7f8a9-b0c1-4234-5678-9abcdef01234",
      "name": "Get Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1424, -1600],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lead-exists-c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7f8a9b0-c1d2-4345-6789-abcdef012345",
      "name": "IF Lead Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1648, -1600]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Parse Lead').item.json.nome || $json.name }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('Parse Lead').item.json.telefone || $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Parse Lead').item.json.email || $json.email }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Parse Lead').item.json.cep || $json.cep }}"
            },
            {
              "fieldId": "last_seen_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "f8a9b0c1-d2e3-4456-789a-bcdef0123456",
      "name": "Update Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1872, -1712],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Parse Lead').item.json.conversation_id }}"
            },
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $('Parse Lead').item.json.store_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Parse Lead').item.json.nome }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('Parse Lead').item.json.telefone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Parse Lead').item.json.email }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Parse Lead').item.json.cep }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "chat"
            }
          ]
        }
      },
      "id": "c5d6e7f8-a9b0-4123-4567-89abcdef0123",
      "name": "Create Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1872, -1488],
      "credentials": {
        "supabaseApi": {
          "id": "kL2vt2LTVZNYDJZq",
          "name": "LUE FZ"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Informaçoes da loja1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informaçoes da loja1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lead Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Analyzer": {
      "main": [
        [
          {
            "node": "Parse Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead": {
      "main": [
        [
          {
            "node": "IF Has Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Lead Data": {
      "main": [
        [
          {
            "node": "Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead": {
      "main": [
        [
          {
            "node": "IF Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead Exists": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Lead": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR_PRODUTOS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "BUSCAR_PRODUTOS",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "nutramim-n8n.ev7c2h.easypanel.host",
          "user-agent": "node",
          "content-length": "218",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "177.6.239.152",
          "x-forwarded-host": "nutramim-n8n.ev7c2h.easypanel.host",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "a272c80437d7",
          "x-real-ip": "177.6.239.152"
        },
        "params": {},
        "query": {},
        "body": {
          "mensagem": "oi",
          "id_mensagem": "2689acbf-4fcb-42e6-97b2-fb1e1bd67c8d",
          "id_conversa": "92ee6d49-7dad-47f1-99ad-5f2ff13fc818",
          "nome_loja": "Teste",
          "id_loja": "c96ad899-bdaf-4ed4-919d-6f596e0f7db8",
          "tipo_de_mensagem": "text"
        },
        "webhookUrl": "https://nutramim-n8n.ev7c2h.easypanel.host/webhook/b9126634-c871-444a-90e7-38909895e06b",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8df8f0cc9e0dd2c7cb8defe1329622a749d50753d5b3ebadada383d6be670f87"
  }
}
